.autoComplete {
    background: rgb(28 30 38 / 85%);
    color: #fff;
    list-style: none;
    width: 80%;
    max-width: 920px;
    margin: 0 auto;
    position: absolute;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    outline: none;
    z-index: 2;
}
.autoComplete li {
    text-align: start;
    margin: 15px 0;
    cursor: pointer;
}