.navbar {
    background: rgb(28,30,38);
    color: #fff;
}

.navbar__container {
    display: flex; 
    justify-content: space-between;
}
.navbar__logo {
    flex: 1;
}
.navbar__logo svg {
    font-size: 60px;
}
.navbar__menu {
    flex: 2;
    max-width: 500px;
}
.navbar__menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}