.weeklyforecast {
  background: rgb(51, 53, 67);
  width: 85%;
  margin: -5% auto 215px;
  position: relative;
  min-height: 260px;
  height: auto;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
}
.weeklyforecast__date {
  background: #000000;
  padding: 15px 0;
  color: #808080;
  font-size: 20px;
}
.weeklyforecast__wrapper {
  display: flex;
}
.weeklyforecast__container {
    flex: 1;
    align-self: center;
}
.weeklyforecast__container img {
    display: block;
    margin: 0 auto;
}
.weeklyforecast__container.right h1 {
    padding: 0;
    text-align: center;
}
.weeklyforecast__container.left {
  flex: 1;
  max-width: 190px;
}
.weeklyforecast h1 {
  margin-top: 0;
  color: #9a9a9a;
  font-size: 30px;
  font-weight: 300;
}
.weeklyforecast h2 {
  font-size: 70px;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 20px;
}
.weeklyforecast ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.weeklyforecast ul li:first-child {
  flex: 2;
}
.weeklyforecast ul li {
  flex: 1;
}
.weeklyforecast ul li:nth-child(2) h1,
.weeklyforecast ul li:nth-child(3) h1 {
  display: none;
}
.weeklyforecast ul li:nth-child(odd) .weeklyforecast__date {
  background: rgb(46, 48, 60);
}
.weeklyforecast ul li:nth-child(even) .weeklyforecast__date {
  background: rgb(35, 37, 48);
}
.weeklyforecast ul li:nth-child(even) {
  background: rgb(39, 41, 53);
}
.weeklyforecast__container__meta {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.weeklyforecast__container__meta--container > * {
    display: inline-block;
}